@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */

.roboto {
  font-family: "Roboto", sans-serif;
}

/* put colors here */
@theme {
  --color-green: #927d14;
  --color-blue: #191491;
  --color-light-blue: #3f3ab6;
  --color-yellow: #fff0a3;
  --color-black: #2c2c2c;
}

/* create simple general css here */
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: white;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
  color: white;
}

h3 {
  font-family: "Roboto", sans-serif;
  color: white;
}

h4 {
  font-family: "Roboto", sans-serif;
  color: white;
}

p {
  font-family: "Roboto", sans-serif;
}

li {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  -webkit-tap-highlight-color: transparent;
}
