@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

/* place fonts here */
@font-face {
  font-family: "PaytoneOne";
  src: url("/font/PaytoneOne.ttf") format("truetype");
}

@layer utilities {
  .font-paytoneone {
    font-family: "PaytoneOne", sans-serif;
  }
}

/* put colors here */
@theme {
  --color-red: #cb6757;
  --color-green: #56905f;
  --color-blue: #02a1b9;
  --color-yellow: #d1b641;
  --color-black: #1b1b1b;
}

/* create simple general css here */
