@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

/* place fonts here */
@font-face {
  font-family: "Roboto";
  src: url("/font/Roboto.ttf") format("truetype");
}

@layer utilities {
  .font-roboto {
    font-family: "Roboto";
  }
}

/* put colors here */
@theme {
  --color-green: #927d14;
  --color-blue: #191491;
  --color-yellow: #fff0a3;
  --color-black: #2c2c2c;
}

/* create simple general css here */
h1 {
  font-family: "Roboto";
}
