---
import Hero from "../components/hero.astro";
import About from "../components/about.astro";
import Qualifications from "../components/qualifications.astro";
import Carusel from "../components/carusel.astro";
import Gallary from "../components/gallary.astro";
import Footer from "../components/footer.astro";
import "../styles/tailwind.css";
import Button from "../components/button.astro";
import Top from "../components/topButton.astro";
import Top2 from "../components/topFooter.astro";
---

<html lang="da">
  <head>
        <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Mathilde Løwe studere multimediedesign på KE. Her viser hun hendes tideligere projekter fra studeit, samt. hendes kvalifikationer: figma, prototyping, ux, ui og mere.">
  <meta name="keywords" content="Multimedie designer, Figma, HTML, CSS, UI, UX">
  <meta name="author" content="Mathilde Løwe">
    <meta name="generator" content={Astro.generator} />
    <title>Mathilde Løwe</title>

    <script
      defer
      src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"
    ></script>
  </head>

  <body class="bg-black">
    <main>
        <Hero></Hero>
        <div  class="mx-auto max-w-lg md:max-w-3xl lg:max-w-4xl">
           <ul class="ml-9 -mt-42 md:-mt-65 lg:-mt-75">
        <li class="mb-3 md:mb-5 lg:mb-7"><Button link="#section-1">Om Mig</Button></li>
        <li class="mb-3 md:mb-5 lg:mb-7"><Button link="#section-2">Kvalifikationer</Button></li>
        <li class="mb-3 md:mb-5 lg:mb-7"><Button link="#slide-1">Tideligere Projekter </Button></li>
        <li><Button link="#section-3">Kontak Mig</Button></li>
    </ul>
        </div>

        <Top></Top>
        <About></About>
        
        <Qualifications></Qualifications>
        <Carusel></Carusel>
        <Gallary></Gallary>
    </main>
    
    <footer>
      <Footer></Footer>
      <div  class="mx-auto max-w-lg md:max-w-3xl lg:max-w-4xl">
       <ul class="ml-9 -mt-45 mb-15 md:-mt-68 lg:-mt-85">
        <li class="mb-3 md:mb-5 lg:mb-7"><Button link="mailto:mathildeloewe@gmail.com">Kontak Mig Via Email</Button></li>
        <li class="mb-3 md:mb-5 lg:mb-7"><Button  link="https://www.linkedin.com/in/mathilde-løwe-497b8a290">LinkedIn</Button></li>
        <li><Button  link="https://github.com/malowe0005">GitHub</Button></li>
    </ul>
    </div>

    <div class="max-w-sm mx-auto grid justify-items-center mt-25 mb-5 md:mt-35 md:mb-10 lg:mt-50 lg:mb-10">
      <Top2></Top2>
    </div>
    </footer>
  </body>

</html>
