---
import Hero from "../components/hero.astro";
import About from "../components/about.astro";
import Qualifications from "../components/qualifications.astro";
import Projects from "../components/projects.astro";
import Carusel from "../components/carusel.astro";
import Footer from "../components/footer.astro";
import "../styles/tailwind.css";
---

<html lang="da">
  <head>
        <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Mathilde Løwe</title>
    <script
      defer
      src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"
    ></script>
  </head>

  <body class="bg-black">
    <main class="">
        <Hero></Hero>
        <About></About>
        <Qualifications></Qualifications>

        <!-- <Projects header="Alefarm Brewing"
        type="2 Sem: Eksamenen"
        information="Dette projekt var en kunde case for Alefarm Brewing. I vores team skabte vi et forslag til en ny visuel identitet, som bedre kommunikerede virksomhedens værdier. Vi havde især fokus på SEO og brugergrænsefladen i forhold til målgruppen."
        image="/alefarmV1.png" imageText="">
      </Projects> -->

        <!-- <Projects header="Instant Day"
        type="3 Sem: Kreativ Opgave"
        information="Denne opgave gik ud på at skabe en platform til Instant Day - en konkurrence der fejre instant fotografering. Vores design havde fokus på kreativitet og brugervenlighed for en bred målgruppe."
        image="/instantV1.png" imageText="">
      </Projects>

        <Projects header="Circular Lab"
        type="2 Sem: Kunde Case"
        information="Circular Lab spreder viden omkring cirkulær økonomi og forbrugsvaner. Projektets fokus lå derfor på at kommunikere viden på en spændene men forståelig måde."
        image="/circularV1.png" imageText="">
      </Projects> -->

      <Carusel></Carusel>
    </main>
    
    <footer>
      <Footer></Footer>
    </footer>
  </body>

</html>

