---
---

<section id="section-1" class="flex flex-col mx-8 mt-20 pt-40 md:grid md:grid-cols-5 md:gap-8 md:max-w-3xl md:mx-auto md:mt-60 lg:max-w-230 lg:gap-10">

   <div class="relative mx-auto w-full max-w-md md:col-start-3 md:row-start-1 md:col-span-3 md:mr-0 lg:max-w-135">
     <div class="absolute h-full inset-0 bg-blue blur-md px-3 pb-3 mb-5 md:pt-3"></div>
        <div class="relative px-8">
        <h2 class="text-5xl mb-4 -mt-5 md:-mt-4 lg:text-6xl lg:ml-8">OM MIG SOM DESIGNER</h2>

        <div class="mx-auto max-w-xs md:flex md:flex-col md:justify-end md:pt-8 md:max-w-90 md:max-w-100">
          <p class="text-white pb-5 text-lg md:text-xl md:text-bottom lg:text-2xl">Som multimedie designer kan jeg mange ting, men min største passion er design. Jeg er meget visuel og elsker at arbejde med æstetik, visuel branding og bruger oplevelser.</p>
        <p class="text-white pb-10 text-lg md:text-xl md:text-bottom lg:text-2xl">Lige nu er jeg 3. semester studernede på EK, og har valgfaget Digital Design. </p>
        </div>
    </div>
   </div>

   <div class="md:flex md:items-center md:justify-center md:col-start-1 md:row-start-1 md:col-span-2">
    <img class="mt-10 mx-auto w-sm md:mt-0" src="/webp/portrait.webp" alt="mit portrætbillede">
   </div>

</section> 