---
---

<section class="flex flex-col mx-8 mt-20 mt-40 md:grid md:grid-cols-5 md:gap-8 md:max-w-3xl md:mx-auto lg:bg-amber-900">

   <div class="mx-auto relative w-full max-w-md md:col-start-3 md:row-start-1 md:col-span-3">
     <div class="absolute h-full inset-0 bg-blue blur-md px-3 pb-3 mb-5 md:pt-3"></div>
        <div class="relative px-8">
        <h2 class="text-5xl mb-4 -mt-5 md:-mt-4">OM MIG SOM DESIGNER</h2>

        <div class="md:flex md:flex-col md:justify-end md:pt-8">
          <p class="pb-5 md:text-xl">Som multimedie designer kan jeg mange ting, men min største passion er design. Jeg er meget visuel og elsker at arbejde med æstetik, visuel branding og bruger oplevelser.</p>
        <p class="pb-10 md:text-xl">Lige nu er jeg 3. semester studernede på EK, og har valgfaget Digital Design. </p>
        </div>
    </div>
   </div>

   <div class="md:flex md:items-center md:justify-center md:col-start-1 md:row-start-1 md:col-span-2">
    <img class="mt-10 mx-auto w-sm md:mt-0" src="/portrait.png" alt="mit portrætbillede">
   </div>

</section> 