---

const buttonstyling = "text-black my-2 bg-yellow py-1 px-2 rounded-sm font-semibold text-xl md:text-3xl md:py-1.5 md:px-3 lg:py-2 hover:text-light-blue hover:bg-green active:text-light-blue active:font-bold active:bg-green focus:text-light-blue focus:font-bold focus:bg-green cursor-pointer";
const {link} = Astro.props;

---

<a class={`${buttonstyling} || ''}`} href={link}><slot/></a>