---

const buttonstyling = "text-black my-2 bg-yellow py-1 px-2 rounded-sm font-semibold text-xl md:text-2xl lg:text-3xl lg:py-2 lg:px-3 hover:text-light-blue hover:scale-105 transition duration-300 ease-in-out";

---

<button class={`${buttonstyling} || ''}`}><slot/></button>