---

const buttonstyling = "text-black my-2 bg-yellow py-1 px-2 rounded-sm font-semibold text-xl md:text-3xl md:py-1.5 md:px-3 lg:py-2 hover:text-light-blue active:text-light-blue cursor-pointer";
const {link} = Astro.props;

---

<a class={`${buttonstyling} || ''}`} href={link}><slot/></a>