---
import Button from "./button.astro";
---

<section id="section-3" class="mx-auto mt-25 mb-10 h-110 max-w-md flex items-center bg-[url(/webp/blueCircle.webp)] bg-no-repeat bg-right bg-contain md:h-140 md:max-w-3xl lg:max-w-4xl lg:h-170 lg:mt-30">
  
   <div class="ml-8 md:mb-20 lg:mb-30">
      <h2 class="text-3xl mb-5 mt-15 w-100 md:w-140 md:text-5xl">JEG GLÆDER MIG TIL AT HØRE FRA JER :)</h2>
   </div>

</section>