---

---

<section>
    <h1>Mathilde Løwe</h1>
    <h2>MULTIMEDIE DESIGER</h2>
    <ul>
        <li>Om Mig</li>
        <li>Kvalifikationer</li>
        <li>Tideligere Projekter</li>
    </ul>

    <img src="../../public/greenCircle.png" alt="et dekorativt element, grøn cirkel med slørret kant">
</section>