---
import Button from "./button.astro";
---

<section class="mx-auto mt-10 h-110 max-w-lg flex items-end bg-[url(/greenCircle3.png)] bg-no-repeat bg-right bg-contain md:h-140 md:max-w-3xl lg:max-w-250 lg:h-170 lg:mt-15">
  
   <div class="ml-8 md:mb-20 lg:mb-30">
       <h1 class="text-6xl -mb-1 md:-mb-2 md:text-7xl lg:text-8xl">Mathilde Løwe</h1>
    <h2 class="text-2xl mb-5 mb:text-3xl lg:text-4xl">MULTIMEDIE DESIGER</h2>
    <ul>
        <li><Button>Om Mig</Button></li>
        <li><Button>Kvalifikationer</Button></li>
        <li><Button>Tideligere Projekter </Button></li>
    </ul>
   </div>

</section>