---
---

<section id="top" class="mx-auto mt-20 h-110 max-w-lg flex items-center bg-[url(/webp/greenCircle3.webp)] bg-no-repeat bg-right bg-contain md:h-140 md:max-w-3xl lg:max-w-4xl lg:h-170 lg:mt-15">
  
   <div class="ml-8 md:mb-20 lg:mb-30">
       <h1 class="text-6xl -mb-1 md:text-7xl lg:text-8xl">Mathilde Løwe</h1>
    <h2 class="text-2xl mb-5 mb:text-3xl lg:text-4xl">MULTIMEDIE DESIGER</h2>
    <!-- <ul>
        <li class="mb-3"><Button link="#omMig">Om Mig</Button></li>
        <li class="mb-3"><Button>Kvalifikationer</Button></li>
        <li class="mb-3"><Button>Tideligere Projekter </Button></li>
    </ul> -->
   </div>

</section>