---
---

<section id="section-2" class="mt-30 pt-20 mx-auto max-w-md md:max-w-3xl md:pt-50 lg:max-w-230">
   <div class="relative">
    <div class="absolute border-5 border-blue inset-0 blur-xs"></div>
        <div class="relative">
            <div class="ml-8 pb-5 md:ml-0">
    <h2 class="text-4xl absolute -mt-4 md:ml-10 md:text-5xl lg:ml-13">KVALIFIKATIONER</h2>

    <div class="flex flex-col mt-10 pt-10 pr-25 gap-y-15 md:grid md:grid-cols-3 md:gap-x-20 md:max-w-170 md:pr-0 md:pl-10 md:mx-auto md:pt-17 lg:max-w-230 lg:gap-x-20 lg:pt-20 lg:pl-10 lg:pb-5">
        <div class="">
            <div class="flex gap-3 col-span-5 row-start-1 pb-5">
                <img class="md:h-5" src="/star.png" alt="">
            <img class="md:h-5" src="/star.png" alt="">
            <img class="md:h-5" src="/star.png" alt="">
            <img class="md:h-5" src="/star.png" alt="">
            <img class="md:h-5" src="/star.png" alt="">
            </div>
            <p class="text-white text-3xl pb-6 md:text-2xl lg:text-3xl">Figma Prototyping</p>
             <p class="text-white text-3xl pb-6 md:text-2xl lg:text-3xl">SEO + UI/UX</p>
              <p class="text-white text-3xl pb-6 md:text-2xl lg:text-3xl">HTML + CSS</p>
               <p class="text-white text-3xl pb-6 md:text-2xl lg:text-3xl">Tailwind + Astro</p>
        </div>

         <div class="">
            <div class="flex gap-3 col-span-5 row-start-1 pb-5">
                <img class="md:h-5" src="/star.png" alt="">
            <img class="md:h-5" src="/star.png" alt="">
            <img class="md:h-5" src="/star.png" alt="">
            <img class="md:h-5" src="/star.png" alt="">
            </div>
            <p class="text-white text-3xl pb-6 md:text-2xl lg:text-3xl">Illustrator</p>
             <p class="text-white text-3xl pb-6 md:text-2xl lg:text-3xl">SoMe strategier</p>
              <p class="text-white text-3xl pb-6 md:text-2xl lg:text-3xl">Alpine</p>
        </div>

         <div class="">
           <div class="flex gap-3 col-span-5 row-start-1 pb-5">
                <img class="md:h-5" src="/star.png" alt="">
            <img class="md:h-5" src="/star.png" alt="">
            </div>
            <p class="text-white text-3xl pb-6 md:text-2xl lg:text-3xl">After Effects</p>
        </div>
    </div>
            </div>
        </div>
   </div>
</section>