---
---

<section class="mt-50 mx-auto max-w-sm md:max-w-3xl md:mt-60 lg:max-w-230">
   <div class="relative">
    <div class="absolute border-5 border-blue inset-0 blur-xs"></div>
        <div class="relative">
            <div class="ml-8 pb-5 md:ml-0">
    <h2 class="text-4xl absolute -mt-4 md:ml-10 md:text-5xl lg:ml-13">KVALIFIKATIONER</h2>

    <div class="flex flex-col mt-10 pt-10 gap-y-15 md:grid md:grid-cols-3 md:gap-x-5 md:max-w-170 md:mx-auto md:pt-17 lg:max-w-200 lg:gap-x-20 lg:pt-20">
        <div class="">
            <div class="flex gap-3 col-span-5 row-start-1 pb-5">
                <img src="/star.png" alt="">
            <img src="/star.png" alt="">
            <img src="/star.png" alt="">
            <img src="/star.png" alt="">
            <img src="/star.png" alt="">
            </div>
            <p class="text-3xl pb-6">Figma Prototyping</p>
             <p class="text-3xl pb-6">SEO + UI/UX</p>
              <p class="text-3xl pb-6">HTML + CSS</p>
               <p class="text-3xl pb-6">Tailwind + Astro</p>
        </div>

         <div class="">
            <div class="flex gap-3 col-span-5 row-start-1 pb-5">
                <img src="/star.png" alt="">
            <img src="/star.png" alt="">
            <img src="/star.png" alt="">
            <img src="/star.png" alt="">
            </div>
            <p class="text-3xl pb-6">Illustrator</p>
             <p class="text-3xl pb-6">SoMe strategier</p>
              <p class="text-3xl pb-6">Alpine</p>
        </div>

         <div class="">
           <div class="flex gap-3 col-span-5 row-start-1 pb-5">
                <img src="/star.png" alt="">
            <img src="/star.png" alt="">
            </div>
            <p class="text-3xl pb-6">After Effects</p>
        </div>
    </div>
            </div>
        </div>
   </div>
</section>