---

const buttonstyling = "hidden lg:block text-green/30 font-bold text-3xl sticky top-[50%] ml-15 hover:text-green";

---

<a id="scrollButton" class={`${buttonstyling} || ''}`} href="#top">↑</a>

<script type="module" src="/scripts/topButton.js" defer></script>