---

const buttonstyling = "mb-5 text-green/30 font-semibold text-lg italic hover:text-green active:text-green active:font-bold";

---

<a id="scrollButton" class={`${buttonstyling} || ''}`} href="#top">Tilbage Til Toppen ↑</a>