---

const buttonstyling = "text-green/30 font-semibold text-lg italic hover:text-green focus:text-green active:text-green";

---

<a id="scrollButton" class={`${buttonstyling} || ''}`} href="#top">Tilbage Til Toppen ↑</a>